@use 'reset';
@use '@fontsource/roboto';

$search-bar-width: 584px;
$search-bar-height: 44px;

@mixin light-theme {
    --background-color: #fff;
    --text-color: #000;
    --gray-color: #4d5156;
    --green-color: #006621;
    --blue-color: #4285f4;
    --placeholder-color: #9aa0a6;
    --border-color: #dfe1e5;
    --border-filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
    --shadow-color: rgba(32, 33, 36, 0.28);
    --visited-color: #551a8b;
    --hover-filter: brightness(0.95);
    --link-color: #1a0dab;
}

@mixin dark-theme {
    --background-color: #202124;
    --text-color: #fff;
    --gray-color: #fff;
    --green-color: #4c9a2a;
    --blue-color: #4285f4;
    --placeholder-color: #9aa0a6;
    --border-color: #fff;
    --border-filter: brightness(0) saturate(100%) invert(95%) sepia(9%) saturate(74%) hue-rotate(182deg) brightness(92%) contrast(96%);
    --shadow-color: rgba(255, 255, 255, 0.28);
    --visited-color: #8a2be2;
    --hover-filter: brightness(1.25);
    --link-color: #1e90ff;
}

body.light {
    @include light-theme;
}

body.dark {
    @include dark-theme;
}

body {
    font-family: "Roboto", serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

.icon {
    width: 20px;
    height: 20px;
    filter: var(--border-filter);
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 25px;
}

.search-bar-container {
    margin-bottom: 50px;

    .search-bar {
        margin: 0 auto;
    }
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: $search-bar-width;

    &__input-container {
        position: relative;
    }

    &__input {
        width: 100%;
        height: $search-bar-height;
        box-sizing: border-box;
        padding: 0 50px 0 16px;
        border: 1px solid var(--border-color);
        border-radius: 24px;
        font-size: 16px;
        line-height: 20px;
        background-color: var(--background-color);
        color: var(--text-color);
        box-shadow: 0 1px 6px var(--shadow-color);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--placeholder-color)
        }

        &:hover {
            border-color: #dfe1e5;
            box-shadow: 0 1px 6px var(--shadow-color);
        }

        &--with-autocomplete {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__input-cross {
        $height: 30px;

        width: 30px;
        height: $height;
        position: absolute;
        top: calc($search-bar-height / 2 - $height / 2);
        right: 15px;
        cursor: pointer;
    }

    .autocomplete-list-container {
        position: absolute;
        box-sizing: border-box;
        top: $search-bar-height;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        border: 1px solid var(--border-color);
        border-radius: 0 0 24px 24px;
        box-shadow: 0 4px 6px var(--shadow-color);
        overflow: hidden;
        z-index: 1000;
    }

    .autocomplete-item {
        display: flex;
        justify-content: space-between;
        align-content: center;
        column-gap: 10px;
        padding: 12px 16px;
        font-size: 16px;
        line-height: 20px;
        color: var(--text-color);
        cursor: pointer;
        background-color: var(--background-color);

        &:hover {
            filter: var(--hover-filter);
        }

        &:active {
            filter: var(--hover-filter);
        }

        &__icon-string-container {
            display: flex;
            align-content: center;
            column-gap: 10px;
        }

        &__end {
            font-weight: bold;
        }

        &__delete {
            z-index: 9999;

            &:hover {
                color: var(--link-color);
                text-decoration: underline;
            }
        }

        &--visited {
            color: var(--visited-color);
        }
    }
}

.search-result-list-container {
    margin: 0 auto;
    padding: 10px;
    max-width: 1000px;

    &__total-results {
        color: var(--gray-color);
        margin-bottom: 25px;
    }
}

.search-result-item {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
    margin-bottom: 15px;

    &__link-group {
        display: block;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        color: var(--link-color);
        line-height: 1.3;
        margin-bottom: 4px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__description {
        font-size: 14px;
        color: var(--gray-color);
        line-height: 1.6;
        margin: 0;
    }

    &__url {
        font-size: 12px;
        color: var(--green-color);
        text-decoration-color: var(--green-color);
        line-height: 1.5;
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.searchmatch {
    font-weight: bold;
}

.pagination {
    width: fit-content;
    margin: 30px auto 0 auto;
    display: flex;
    align-items: center;
    column-gap: 7px;

    &__page {
        color: var(--blue-color);
        font-size: 18px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &--active {
            color:  var(--text-color);
        }
    }

    &__button {
        margin: 0 5px;
        padding: 5px 10px;
        font-size: 16px;
        color: var(--text-color);
        background-color: var(--background-color);
        border: 1px solid var(--border-color);
        border-radius: 25px;
        cursor: pointer;
        outline: none;
    }
}

.theme-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;

    &:hover {
        cursor: pointer;
    }
}